.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:20px 8%;

  position:sticky;
  top:0;

  background:rgba(15,23,42,.8);

  backdrop-filter:blur(15px);

  z-index:1000;
}

.navbar h2{
  color:#38bdf8;
}

.navbar ul{
  display:flex;
  gap:30px;
  list-style:none;
}

.navbar a{
  text-decoration:none;
  color:white;
}

.navbar a:hover{
  color:#38bdf8;
}