.resume-page{

  display:grid;

  grid-template-columns:
  1fr 1fr;

  gap:30px;
}

.resume-form,
.resume-preview{

  background:
  rgba(255,255,255,.08);

  padding:30px;

  border-radius:20px;
}

.resume-form input,
.resume-form textarea{

  width:100%;

  padding:15px;

  margin-top:15px;

  border:none;

  border-radius:15px;
}