.tracker-form{

  display:flex;

  flex-direction:column;

  gap:15px;

  max-width:700px;

  margin:auto;
}

.tracker-form input,
.tracker-form textarea{

  padding:15px;

  border:none;

  border-radius:15px;

  background:
  rgba(255,255,255,.08);

  color:white;
}

.application-list{

  margin-top:40px;

  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(280px,1fr));

  gap:20px;
}

.application-card{

  background:
  rgba(255,255,255,.08);

  padding:25px;

  border-radius:20px;
}